*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
footer{
    margin-top: 7%;
    color: #ffff;
}
body {
    background:url(../img/costos.jpg);
    background-position: -5400px 0px;
    text-align: center;
    font-family: sans-serif;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    background: #171717;
    width: 100%;
    z-index: 100;
}
.head2 {
    display: none;
}
.logo {
    transition: all 0.8s ease;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 3px;
}

.logo:hover{
    transition: all 0.6s ease;
    filter: brightness(123%);
}

.navbar {
    display: flex;
}

.logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: #3f3f3f;
}

.contact {
    margin-right: auto;
    background: #171717;
    display: flex;
    margin-top: 18vh;
    height: 55vh;
}

.contact-tittle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contact-tittle p{
    margin-top: 30px;
    margin-bottom: none;
}

.info {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.map {
    width: 200px;
    height: 200px;
    margin-left: 27%;
    margin-top: 5vh;
}

.correo{
    text-decoration: none;
}
.correo:link {
 color: #4850ba;
}
.correo:after {
    color: #4850ba;
   }
.correo:visited {
    color: #b9478f;
}
.correo:hover {
    color: #854ca3;
}
.correo:active {
    color: gray;
}

@media (max-width:480px){
    .head {
        display: none;
    }
    .head2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: auto;
        background: #171717;
        width: 100%;
        z-index: 100%;
    }
    .navbar li a{
        background-size: 1px;
        background-color: #171717;
        padding: auto;
        display: block;
    }
    
    .navbar li a:hover{
        transition: all 0.6s ease;
        filter: brightness(123%);
    }
    
    .navbar li ul{
        width: auto;
        display: none;
        position: absolute;
        padding: 0%;
        max-width: fit-content;
    }
    
    ul, ol{
        list-style: none;
    }
    
    .navbar > li {
        float: left;
    }
    
    .navbar li:hover > ul{
        display: block;
    }
    
    .menu {
        transition: all 0.8s ease;
        max-width:100%;height:auto;
    }
    
    .menu:hover{
        transition: all 0.6s ease;
        filter: brightness(123%);  
    }   
    .navbar a {
        display: block ;
        padding: auto;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 120%;
        
    }
    .about {
        background: #171717;
        height: 25%;
        align-items: center;
        flex-direction: column;


    }
    .title {
        margin-bottom: 4%;
        font-size: 250%;
        font-weight: 60%;
        text-transform: uppercase;
        color: #fff;
        margin-right: 20px;
    }
    .inte{
        height: 150px;
    }
    .text {
        justify-content: center;
        margin-right: 100px;
        width:50%;
        font-size:medium
    }
    .content {
        height: 100%;
        padding: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .contact {
        width: 100%;
        background: #171717;
        height:auto;
        flex-direction: column;
        max-width:100%;
        height:auto;
        margin-top: 5%;
    }
    
    .contact-tittle {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        max-width:100%;
        height:auto;

    }
    .contact-tittle p{
        margin-top: 30px;
        margin-bottom: none;
        flex-direction: column;
        max-width:100%;
        height:auto;
    }
    footer{
        margin-top: 0%;
        color: #ffff;
    }
}