*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: sans-serif;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    background: #171717;
    width: 100%;
    z-index: 100;
}

.logo {
    transition: all 0.8s ease;
    margin-left: 20px;
    margin-top: 3px;
}

.logo:hover{
    transition: all 0.6s ease;
    filter: brightness(123%);
}

.navbar {
    display: flex;
}

.logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: #3f3f3f;
}

.box-container { display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 30vh; 

}

.box-container .box {
    height: 11rem;
    width: 17rem;
    background: #101010;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0 , 0, .5);
    margin: 2rem;   
}

.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #4952b9;
    font-size: 2rem;
    margin: 1rem 0;

}

.box-container .box h3 {
    font-size: 20px;
    color: #4952b9;

}

.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}
.box-container .box {
    height: 11rem;
    width: 17rem;
    background: #101010;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0 , 0, .5);
    margin: 2rem;   
}

.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #4952b9;
    font-size: 2rem;
    margin: 1rem 0;

}

.box-container .box h3 {
    font-size: 20px;
    color: #4952b9;

}

.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #4952b9;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
}

.btn:hover {
    background: #4952b9;
    
}

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0 10px;
}

@media (max-width: 768px) {

    .title {
        align-items: center;
        margin-bottom: 0;
        font-size: 40px;
        background-color: #4952b9;
    }

    .sau {
        height: 100vh;
    }

    .navbar {
        display: none;
    }

    .contact-title {
        display: flex;
        justify-content: center;
    }
    
}