*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: sans-serif;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    background: #171717;
    width: 100%;
    z-index: 100;
}

.logo {
    transition: all 0.8s ease;
    margin-left: 20px;
    margin-top: 3px;
}
.logo:hover{
    transition: all 0.6s ease;
    filter: brightness(123%);
}

.navbar {
    display: flex;
}

.logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: #3f3f3f;
}

.content1 {
    height: 50vh;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

.content2 {
    height: 70vh;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

.price {
    margin-top:2% ;
    text-align: center;
}

.imgs{
    display: flex;
    flex-direction: row;
    margin-left: 6vh;
}

.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}
.about {
    background: #171717;
}

@media (max-width: 768px) {

    .title {
        align-items: center;
        margin-bottom: 0;
        font-size: 40px;
        background-color: #744898;
    }

    .sau {
        height: 100vh;
    }

    .navbar {
        display: none;
    }

    .contact-title {
        display: flex;
        justify-content: center;
    }
    
}