*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

footer{
    background: rgb(90,81,180);
    background: linear-gradient(90deg, rgba(90,81,180,1) 12%, rgba(195,73,135,1) 91%);
    color: #fff

}

body {
    text-align: center;
    font-family: sans-serif;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    background: #171717;
    width: 100%;
    z-index: 100;
}


.navbar {
    display: flex;
}

.logo {
    transition: all 0.8s ease;
    margin-left: 20px;
    margin-top: 3px;
}

.logo:hover{
    transition: all 0.6s ease;
    filter: brightness(123%);
}

.logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar button {
    margin: auto;
    display: block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}


.navbar a:hover {
    background: #3f3f3f;
}

.navbar button:hover {
    background: #3f3f3f;
    margin: auto;
}



.header {
    display: flex;
    justify-content: center;
    align-items: center;

}

.header {
    height: 70vh !important;
    background: url(img/header.jpg) no-repeat center;
    background-size: cover;
}

.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border-radius: 10px;
    border: 2px solid #4952b9;
    color: #fff;
    text-decoration: none;
}

.btn:hover {
    background: #4952b9;
    
}

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0 10px;
}


.content {
    height: auto;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

.sau {
    padding: 0px;
    background: #1f1d1d
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}
.box-container .box {
    height: 11rem;
    width: 17rem;
    background: #101010;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0 , 0, .5);
    margin: 2rem;   
}

.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #4952b9;
    font-size: 2rem;
    margin: 1rem 0;

}

.box-container .box h3 {
    font-size: 20px;
    color: #4952b9;

}

.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}
.box-container .box {
    height: 11rem;
    width: 17rem;
    background: #101010;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0 , 0, .5);
    margin: 2rem;   
}

.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #4952b9;
    font-size: 2rem;
    margin: 1rem 0;

}

.box-container .box h3 {
    font-size: 20px;
    color: #4952b9;

}

.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}

#touche{
    flex-direction: column;
}

#touche2{
    flex-direction: column;
}

.about {
    background: #171717;
    height: 50vh;
}

.price {
    background: url(img/costos.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    height: 45vh;
}

.contact {
    margin-right: auto;
    background: #171717;
    display: flex;
    margin-top: auto;
    height: auto;
}

.contact-tittle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contact-tittle p{
    margin-top: 30px;
    margin-bottom: none;
}

.info {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.map {
    width: 200px;
    height: 200px;
    margin-left: 27%;
    margin-top: 6vh;
}

.correo{
    text-decoration: none;
}
.correo:link {
 color: #4850ba;
}
.correo:after {
    color: #4850ba;
   }
.correo:visited {
    color: #b9478f;
}
.correo:hover {
    color: #854ca3;
}
.correo:active {
    color: gray;
}

.contenedor22 {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    background-color: #171717;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

.contenedor22 article {
    line-height: 28px;
}

.contenedor22 article h1 {
    font-size: 30px;
    text-align: left;
    padding: 50px 0;
}

.contenedor22 article p {
    margin-bottom: 20px;
}

.btn-abrir-popup {
    padding: 0 20px;
    line-height: 61px;
    border: none;
    color: #fff;
    background: #171717;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
    cursor: pointer;
}



/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay {
    background: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden;
}

.overlay.active {
    visibility: visible;
}

.popup {
    background: #171717;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 10px;
    color: #F8F8F8;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    text-align: center;
    width: 600px;
    transition: .3s ease all;
    transform: scale(0.7);
    opacity: 0;
}

.popup .btn-cerrar-popup {
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    transition: .3s ease all;
    color: #F8F8F8;
}

.popup .btn-cerrar-popup:hover {
    color: #BBBBBB;
}

.popup h3 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    opacity: 0;
}

.popup h4 {
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 40px;
    opacity: 0;
}

.popup form .contenedor22-inputs {
    opacity: 0;
}

.popup form .contenedor22-inputs input {
    color: #F8F8F8;
    background-color: #3f3f3f;
    width: 100%;
    margin-bottom: 20px;
    height: 52px;
    font-size: 18px;
    line-height: 52px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #BBBBBB;
}

.popup form .btn-submit {
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background: rgb(90,81,180);
    background: linear-gradient(90deg, rgba(90,81,180,1) 12%, rgba(195,73,135,1) 91%);
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.8s ease;;
}

.popup form .btn-submit:hover {
    filter: brightness(80%);
    background: rgb(90,81,180);
    background: linear-gradient(90deg, rgba(90,81,180,1) 12%, rgba(195,73,135,1) 91%);
    transition: all 0.6s ease;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active { transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .contenedor22-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
    from {
        opacity: 0;
        transform: translateY(-25px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaSubtitulo {
    from {
        opacity: 0;
        transform: translateY(25px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaInputs {
    from { opacity: 0; }
    to { opacity: 1; }
}




@media (max-width: 768px) {

    .title {
        align-items: center;
        margin-bottom: 0;
        font-size: 40px;
        background-color: #171717;
    }

    .sau {
        height: 100vh;
    }

    .navbar {
        display: none;
    }

    .contact-title {
        display: flex;
        justify-content: center;
    }
}